In [4]:
st = []
for i in range(3):
  no = int(input("번호 : "))
  name = input("이름 : ")
  gender = input("성별 : ")
  kor = int(input("국어 : "))
  eng = int(input("영어 : "))
  mat = int(input("수학 : "))

  tot = kor + eng + mat
  ave = tot / 3
  st.append((no, name, gender, kor, eng, mat, tot, ave))

for i in range(3):
  print("%03d %10s %1s %3d %3d %3d %3d %6.2f" % (st[i][0],st[i][1],st[i][2],st[i][3],st[i][4],st[i][5],st[i][6],st[i][7]))

번호 : 1
이름 : 주빵
성별 : 여
국어 : 36
영어 : 47
수학 : 100
번호 : 2
이름 : 주방
성별 : 남
국어 : 34
영어 : 56
수학 : 67
번호 : 3
이름 : 쭈빵
성별 : 여
국어 : 34
영어 : 45
수학 : 92
001         주빵 여  36  47 100 183  61.00
002         주방 남  34  56  67 157  52.33
003         쭈빵 여  34  45  92 171  57.00